In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load 
file_to_load = "Resources/purchase_data.csv"
#Read Purchasing File and Store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# Player Count/ Total number of players
total_players = purchase_data['SN'].nunique()


# Creata DataFrame for Total Number of Players 
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [4]:
#Purchasing Analysis (Total)

#obtain Number of unique items   
number_of_unique_items = len((purchase_data["Item ID"]).unique())
#Average Price
average_price = (purchase_data["Price"]).mean()
#Number of Purchases
number_of_purchases = (purchase_data["Purchase ID"]).count()
#Total Revenue
total_revenue = (purchase_data["Price"]).sum()


summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

summary_df.style.format({"Average Price":"${:,.2f}",
                        "Total Revenue":"${:,.2f}"})

In [5]:
#Gender Demographics /Percentage of Players and Total Counts
# purchace_data by Gender
gender_stats = purchase_data.groupby("Gender")

# total_count of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]
total_count_gender

# percentage_of_players 
percentage_of_players = total_count_gender / total_players * 100

# Create data frame for gender_demographics
gender_demographics = pd.DataFrame({"Total Count": total_count_gender,"Percentage of Players": percentage_of_players})


# Format Percentage of Players  with two decimal places 

gender_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [6]:
# Count the total purchases by gender 
purchase_count = gender_stats["Item ID"].count()

# Average purchase prices by gender
average_purchase_price = gender_stats["Price"].mean()

# Average purchase total by gender 
average_purchase_total = gender_stats["Price"].sum()

# Average purchase per person by gender
average_purchase_per_person = average_purchase_total/total_count_gender

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_purchase_price,
                                    "Average Purchase Value":average_purchase_total,
                                    "Avg Total Purchase per Person": average_purchase_per_person
                                    })


# Format Average Purchase Price & Avg Total Purchase per Person with two decimal places 
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}",
                                  "Average Purchase Value":"${:,.2f}"
                                  
                                 })

In [7]:
#Age Demographics/ Establish bins for ages
age_bins = [0,9,14,19,24,29,34,39,400]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create a Summary data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_by_age})


# Format Percentage of Players with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [8]:
# Purchasing Analysis/Categorize the existing players using the age bins
age_bins = [0,9,14,19,24,29,34,39,400]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
purchasing_age_analysis = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Total Purchase per Person": avg_purchase_per_person_age})



# Formatting with two decimal places 
purchasing_age_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                              "Avg Total Purchase per Person":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}"})

In [9]:
# Top Spenders 
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")
# Total purchase count by name
purchase_count_spender = spender_stats["Purchase ID"].count()
# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()
# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})


# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [10]:
# Most Popular Items/Create DF for the Item ID, Item Name, and Item Price
items = purchase_data[["Item ID", "Item Name", "Price"]]
# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])
# Count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item


# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top seller and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [11]:
 #Most Profitable Items/Sort the above table by total purchase value in descending order
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})